# Editor detritus and backups
*~
*.bak
*.new
*.old
*.orig
.*.sw[pon]
.dir-locals.el
.#*
\#*

*.aux
*.core
core
*.idx
*.idx-in
*.log
*.o
*.scn
*.toc

liblossless.so
lossless
lossless.c
lossless.h
lossless.pdf
lossless.tex
t/
tmp/
man/mandoc.db
repl.c
repl.tex
repl.pdf
barbaroi.c
evaluate.c
initialise.c
testless.c
testless.h

ffi.c
ffi.perl
perl/Lossless.bs
perl/Lossless.c
perl/MYMETA.json
perl/MYMETA.yml
perl/Makefile.xs
perl/blib/
perl/pm_to_blib
